# Qwen API 配置
QWEN_API_KEY=your_qwen_api_key
QWEN_ALY_API_KEY=your_qwen_aly_api_key
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_ALY_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen3.6-plus
QWEN_EMBED_MODEL=text-embedding-v1

# Kimi API 配置
KIMI_MODEL=kimi-k2.5

# GLM API 配置
GLM_MODEL=glm-5

# DeepSeek API 配置
DS_API_KEY=your_deepseek_api_key
DS_BASE_URL=https://api.deepseek.com
DS_MODEL=deepseek-v4-flash
